<% layout("/layouts/boilerplate")%>
<%=success%>
<body>
    <style>
 #filters{
   display: flex;
   flex-wrap:wrap ;
 }
 .filter{
  text-align: center;
  margin-right: 8rem;
  margin-top: 2rem;
  opacity: 0.7;
 }
 .filter:hover{
        opacity: 1;
        cursor: pointer;
 }
    </style>

     <div id="filters">
      <div class="filter">
       <div><i class="fa-solid fa-fire"></i></div>
      <p>Trending</p> 
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-restroom"></i></div>
      <p>Rooms</p> 
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-monument"></i></div>
      <p>Iconoc city</p> 
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-circle-notch"></i></div>
      <p>suffering</p> 
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-location-arrow"></i></div>
      <p>Location</p> 
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-house"></i></div>
      <p>House</p> 
      </div>
      <div class="filter">
       <div><i class="fa-solid fa-image"></i></div>
      <p>Image</p> 
      </div>
     </div>

<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of allListings){%>
      <a href="/listings/<%= listing._id%>" class="listing-link">
<div class="card col">
  <img class="card-img-top" src="<%= listing.image.url%>" alt="listing_image"style=" height: 20rem;">
  <div class="card-img-overlay">abcd</div>
   <div class="card-body">
      <p class="card-text"><!--Some quick example text to build on the card title and make up the bulk of the card's content.-->
      <b> <%=listing.title %><br></b>
        <%= Number(listing.price).toLocaleString("en-IN") %> / night
      </p> 

  </div>
</div>
<%}%>
</a>
</div>

